<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Document</title>
    <link rel="stylesheet" href="..//static/bootstrap.min.css">
</head>

<body>
    <div name="toolbar"></div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
      </div>
    
    <div id="container" style="height: 400px"></div>
    
    <table title="列表数据" >
        <tr id="vfordata">
            <td v-for="item in cur_data2" >
                {{item}}
            </td>
        </tr>
    </table>
    
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
    <script src="..//static//jquery.js"></script>
    <!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
    <script src="..//static//highcharts.js"></script>
    <!-- <script src="https://rawgithub.com/highcharts/draggable-points/master/draggable-points.js"></script> -->
    <script src="..//static//draggable-points.js"></script>
    <script src="..//static//vue.js"></script>
    <script src="..//static/bootstrap.min.js"></script>
    <script>
        var cur_data = [0, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4];
        
    
        var chart = new Highcharts.Chart({

            chart: {
                renderTo: 'container',
                animation: false
            },

            title: {
                text: 'Highcharts draggable points demo'
            },

            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },

            plotOptions: {
                series: {
                    // point: {
                    //     events: {

                    //         drag: function (e) {
                    //             // Returning false stops the drag and drops. Example:
                    //             /*
                    //             if (e.newY > 300) {
                    //                 this.y = 300;
                    //                 return false;
                    //             }
                    //             */

                    //             $('#drag').html(
                    //                 'Dragging <b>' + this.series.name + '</b>, <b>' + this.category + '</b> to <b>' + Highcharts.numberFormat(e.y, 2) + '</b>');
                    //         },
                    //         drop: function () {
                    //             $('#drop').html(
                    //                 'In <b>' + this.series.name + '</b>, <b>' + this.category + '</b> was set to <b>' + Highcharts.numberFormat(this.y, 2) + '</b>');
                    //         }
                    //     }
                    // },
                    stickyTracking: false
                },
                column: {
                    stacking: 'normal'
                },
                line: {
                    cursor: 'ns-resize'
                }
            },

            tooltip: {
                yDecimals: 2
            },

            series: [{
                data:cur_data,
                draggableY: true
            }]

        });
        var vm = new Vue({
  el: '#vfordata',
  data: {
    cur_data1: chart.series[0].data
  },
  computed: {
    cur_data2: {
    // getter
    get: function () {
        var arr = new Array()
        
        $.each(chart.series[0].data,function(i){
            arr.push(Highcharts.numberFormat(chart.series[0].data[i].y,0))
        })
      return arr
    },
    // setter
    set: function (newValue) {
      chart.series[0].setdata(newValue)
    }
  }
  }
})
        </script>
</body>

</html>