<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Document</title>
    <link rel="stylesheet" href="..//static/bootstrap.min.css">
</head>

<body>

    <div id="mapp">
        <!-- this is header templa -->
        <div id="header" class="card-header bg-dark text-light">
            <h1 class="row align-items-center justify-content-center mb-5">title</h1>
        </div>
        <!-- this is header templa -->
        <div class="container">
                <div class="card text-center mt-2">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-pills">
                            <li class="nav-item">
                                <a class="nav-link " id="h-tab" data-toggle="tab" href="#h">公告</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="p-tab" data-toggle="tab" href="#profile">培训</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="o-tab" data-toggle="tab" href="#o">其他</a>
                            </li>
                        </ul>
                    </div>
                </div></div>


        <table title="列表数据">
            <tr>
                <td v-for="item in cur_data2">
                    {{item}}
                </td>
            </tr>
        </table>

    </div>
    <div id="container" style="height: 400px"></div>



    <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
    <script src="..//static//jquery.js"></script>
    
    <!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
    <script src="..//static//highcharts.js"></script>
    <!-- <script src="https://rawgithub.com/highcharts/draggable-points/master/draggable-points.js"></script> -->
    <script src="..//static//draggable-points.js"></script>
    <script src="..//static//vue.js"></script>
    <script src="..//static/bootstrap.min.js"></script>
    <script>
        var cur_data = [0, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4];
        var chart = new Highcharts.Chart({

            chart: {
                renderTo: 'container',
                animation: false
            },

            title: {
                text: 'Highcharts draggable points demo'
            },

            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },

            plotOptions: {
                series: {
                    // point: {
                    //     events: {

                    //         drag: function (e) {
                    //             // Returning false stops the drag and drops. Example:
                    //             /*
                    //             if (e.newY > 300) {
                    //                 this.y = 300;
                    //                 return false;
                    //             }
                    //             */

                    //             $('#drag').html(
                    //                 'Dragging <b>' + this.series.name + '</b>, <b>' + this.category + '</b> to <b>' + Highcharts.numberFormat(e.y, 2) + '</b>');
                    //         },
                    //         drop: function () {
                    //             $('#drop').html(
                    //                 'In <b>' + this.series.name + '</b>, <b>' + this.category + '</b> was set to <b>' + Highcharts.numberFormat(this.y, 2) + '</b>');
                    //         }
                    //     }
                    // },
                    stickyTracking: false
                },
                column: {
                    stacking: 'normal'
                },
                line: {
                    cursor: 'ns-resize'
                }
            },

            tooltip: {
                yDecimals: 2
            },

            series: [{
                data: cur_data,
                draggableY: true
            }]

        });


        var vm = new Vue({
            el: '#mapp',
            data: {
                cur_data1: chart.series[0].data,

            },
            computed: {
                cur_data2: {
                    // getter
                    get: function () {
                        var arr = new Array()
                        var t = this.cur_data1
                        $.each(chart.series[0].data, function (i) {
                            arr.push(Highcharts.numberFormat(t[i].y, 0))
                        })
                        return arr
                    },
                    // setter
                    set: function (newValue) {
                        chart.series[0].setData([2, 3, 4, 5])
                    }
                }
            },
            methods: {
                chartflesh: function (events) {
                    alert('123')
                    cur_data2 = [2, 3, 4, 5]
                }, say: function (message) {
                    alert(message)
                }
            }
        })

        $(document).ready(function () {
            $("#btn").click(function () {
                alert('123')
                chart.series[0].setData([2, 3, 4, 5])
            })
        })
    </script>
</body>

</html>