<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..//static//bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <!-- this is header templa -->
    <div id="header" class="card-header bg-dark text-light">
        <h1 class="row align-items-center justify-content-center mb-5">title</h1>
    </div>
    <!-- this is header templa -->
    <div class="container">
        <div class="card text-center mt-2">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link " id="h-tab" data-toggle="tab" href="#h">公告</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="p-tab" data-toggle="tab" href="#profile">培训</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="o-tab" data-toggle="tab" href="#o">其他</a>
                    </li>
                </ul>
            </div>
        </div>f
        <div>
            <div class="d-inline-block"><a href="#">培训</a>
            <div>

                <p>上传课件</p>
                
            </div>
            </div> 
             <div class="d-inline-block"><a href="#">笔试</a></div>  
             <div class="d-inline-block"><a href="#">实操</a></div>  

        </div>
    </div>
</body>

</html>