<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="..//static//bootstrap.min.css">
    <title>登陆</title>
</head>

<body>
    <div class="container">
        <!-- this is header templa -->
        <div id="header" class="card-header bg-dark text-light"><h1 class="row display-1 align-items-center justify-content-center">123</h1></div>
        <!-- this is header templa -->
        <div class="row align-content-center justify-content-center">
            
        
        <form>
            
            <DIV class="form-group">
                <label class="form-control-plaintext col-form-label">用户名</label> <input class="input-group-text" type="text" />
            </DIV>
            <div class="form-group">
                <label class="col-form-label">密码</label> <input class="input-group-text" type="password" />
            </div>

            <input class="btn btn-primary" type="submit">
        </form>
    </div>
    </div>
</body>

</html>