<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>study</title>
    <link rel="stylesheet" href="..//static//bootstrap.min.css">
</head>

<body>
    <!-- this is header templa -->
    <div id="header" class="card-header bg-dark text-light">
        <h1 class="row align-items-center justify-content-center mb-5">title</h1>
    </div>
    <!-- this is header templa -->
    <div class="container">
        <div class="card text-center mt-2">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link " id="h-tab" data-toggle="tab" href="#h">公告</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="p-tab" data-toggle="tab" href="#profile">培训</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="o-tab" data-toggle="tab" href="#o">其他</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" style="height: 50px"></div>
        <div class="row">
            
            <div class="col-md-3 m-auto">
                <div class="card text-center" style="height: 100%;">
                    <div class="card-title">工具</div>
                    <div class="card-text">
                        <p>工具工具</p>
                        <p>工具工具</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 m-auto">
                <table class="table table-bordered table-striped text-center">
                    <tbody>
                        <tr>
                            <th>1</th>
                            <th>2</th>
                        </tr>
                        <tr>
                            <td><a href="#">数据1</a> </td>
                            <td>数据2</td>
                        </tr>
                        <tr>
                            <td>数据1</td>
                            <td>数据2</td>
                        </tr>
                        <tr>
                            <td>数据1</td>
                            <td>数据2</td>
                        </tr>
                        <tr>
                            <td>数据1</td>
                            <td>数据2</td>
                        </tr>
                        <tr>
                            <td>数据1</td>
                            <td>数据2</td>
                        </tr>
                        <tr>
                            <td>数据1</td>
                            <td>数据2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2 m-auto">
                    <div class="card text-center" style="height: 100%;">
                            <div class="card-header">其他说明</div>
                            <div class="card-text">
                                <p>说明说明说明说明</p>
                                <p>说明说明说明说明</p>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</body>

</html>